.App {
  text-align: center;
}

.parser-header {
  font-weight: bold;
  font-size: 18px;
  margin: 50px;
}

.parser-text {
  margin: 20px !important;
}

.ant-input {
  height: 500px !important;
}

.section-header {
  font-weight: bold;
  font-size: 14px;
  margin: 10px;
}

.clear-btn {
  margin-right: 10px;
}

.drop-target {
  height: 80%;
  margin: 10px;
  border: 1px dashed black;
}

.left-panel {
  margin: 10px;
  padding: 5px;
}

.clear-btn {
  margin: 10px;
}

.table-cell{
  text-align: left;
  padding: 15px;
  border: 1px solid #dedede
}

.table-header{
    padding: 15px;
    border: 1px solid #dedede;
    background-color: #fafafa;
}

.block-button{
  width: 50%;
  margin: 0 0 20px 0;
}